.u-block-105e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-105e-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-block-105e-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
  background-image: none;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 521px;
}

.u-section-1-1 .u-line-1 {
  width: 510px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -103px auto 0 30px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0px;
  animation-duration: 1000ms;
  margin: 134px 570px 0 0;
}

.u-section-1-1 .u-group-1 {
  width: 570px;
  min-height: 453px;
  height: auto;
  margin: -52px 0 0 auto;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-1 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  letter-spacing: 0px;
  margin: -401px 637px 0 68px;
}

.u-section-1-1 .u-line-2 {
  width: 510px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 34px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-line-1 {
    transform-origin: left center 0px;
  }

  .u-section-1-1 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 505px;
    margin-left: 0;
  }

  .u-section-1-1 .u-line-2 {
    transform-origin: left center 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1-1 .u-line-2 {
    width: 340px;
    margin-left: 0;
  }
}

 .u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 521px;
}

.u-section-1-2 .u-line-1 {
  width: 510px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -103px auto 0 30px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0px;
  animation-duration: 1000ms;
  margin: 134px 570px 0 0;
}

.u-section-1-2 .u-group-1 {
  width: 570px;
  min-height: 453px;
  height: auto;
  margin: -52px 0 0 auto;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  letter-spacing: 0px;
  margin: -401px 637px 0 68px;
}

.u-section-1-2 .u-line-2 {
  width: 510px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 34px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-line-1 {
    transform-origin: left center 0px;
  }

  .u-section-1-2 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 505px;
    margin-left: 0;
  }

  .u-section-1-2 .u-line-2 {
    transform-origin: left center 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1-2 .u-line-2 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 652px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: 20px 89px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 700;
  animation-duration: 1000ms;
  width: 774px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1060px;
  margin: 17px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 518px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 11px;
}

.u-section-2 .u-group-1 {
  width: 460px;
  min-height: 111px;
  animation-duration: 1000ms;
  margin: 7px 19px 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 111px;
  width: 111px;
  background-image: none;
  animation-duration: 1000ms;
  text-align: center;
  color: rgb(47, 74, 206) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  text-align: center;
  margin: -98px 0 0 133px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: -47px 19px -3px 157px;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 11px;
}

.u-section-2 .u-group-2 {
  width: 460px;
  min-height: 111px;
  animation-duration: 1000ms;
  margin: 7px 19px 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 111px;
  width: 111px;
  background-image: none;
  animation-duration: 1000ms;
  text-align: center;
  color: rgb(47, 74, 206) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  text-align: center;
  margin: -98px 0 0 133px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: -47px 19px -3px 157px;
}

.u-section-2 .u-container-layout-5 {
  padding: 21px 11px;
}

.u-section-2 .u-group-3 {
  width: 460px;
  min-height: 111px;
  animation-duration: 1000ms;
  margin: 7px 19px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 111px;
  width: 111px;
  background-image: none;
  animation-duration: 1000ms;
  text-align: center;
  color: rgb(47, 74, 206) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  text-align: center;
  margin: -98px 0 0 133px;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: -47px 19px 0 157px;
}

.u-section-2 .u-container-layout-7 {
  padding: 21px 11px;
}

.u-section-2 .u-group-4 {
  width: 460px;
  min-height: 111px;
  animation-duration: 1000ms;
  margin: 7px 19px 0 auto;
}

.u-section-2 .u-icon-4 {
  height: 111px;
  width: 111px;
  background-image: none;
  animation-duration: 1000ms;
  text-align: center;
  color: rgb(47, 74, 206) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  text-align: center;
  margin: -98px 0 0 133px;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: -47px 19px 0 157px;
}

.u-section-2 .u-container-layout-9 {
  padding: 21px 11px;
}

.u-section-2 .u-group-5 {
  width: 460px;
  min-height: 111px;
  animation-duration: 1000ms;
  margin: 7px 19px 0 auto;
}

.u-section-2 .u-icon-5 {
  height: 111px;
  width: 111px;
  background-image: none;
  animation-duration: 1000ms;
  text-align: center;
  color: rgb(47, 74, 206) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  text-align: center;
  margin: -98px 0 0 133px;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: -47px 19px 0 157px;
}

.u-section-2 .u-container-layout-11 {
  padding: 21px 11px;
}

.u-section-2 .u-group-6 {
  width: 460px;
  min-height: 111px;
  animation-duration: 1000ms;
  margin: 7px 19px 0 auto;
}

.u-section-2 .u-icon-6 {
  height: 111px;
  width: 111px;
  background-image: none;
  animation-duration: 1000ms;
  text-align: center;
  color: rgb(47, 74, 206) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  text-align: center;
  margin: -98px 0 0 133px;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  animation-duration: 1000ms;
  margin: -47px 19px 0 157px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 459px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -48px;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 9px;
    margin-left: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 189px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 227px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 191px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-group-5 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-group-6 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 591px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: 17px 109px 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 499px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 50px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 50px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 50px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px;
}

.u-section-3 .u-image-1 {
  width: 420px;
  height: 367px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -367px 0 0 522px;
}

.u-section-3 .u-text-3 {
  margin: 23px 0 0 522px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  margin: 27px 0 0 522px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px;
}

.u-section-3 .u-image-2 {
  width: 420px;
  height: 367px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -367px 0 0 522px;
}

.u-section-3 .u-text-6 {
  margin: 23px 0 0 522px;
}

.u-section-3 .u-text-7 {
  line-height: 1.8;
  margin: 27px 0 0 522px;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 60px;
}

.u-section-3 .u-image-3 {
  width: 420px;
  height: 367px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -367px 0 0 522px;
}

.u-section-3 .u-text-9 {
  margin: 23px 0 0 522px;
}

.u-section-3 .u-text-10 {
  line-height: 1.8;
  margin: 27px 0 0 522px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 303px;
    height: 377px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 330px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 330px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 303px;
    height: 377px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 330px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 330px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 303px;
    height: 377px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 330px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -177px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 190px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 178px;
    height: 178px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -177px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 190px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 178px;
    height: 178px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -177px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 14px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 879px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: 20px 109px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  min-height: 211px;
  grid-gap: 21px 21px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 28px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(44, 204, 196) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 15px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 28px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 15px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 28px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 15px 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0 28px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 15px 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 506px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-4 .u-form-1 {
  height: 336px;
  width: 510px;
  margin: 47px 0 0;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
}

.u-section-4 .u-btn-5 {
  border-style: solid;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 506px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-slider-1 {
  min-height: 516px;
  width: 570px;
  margin: -476px 0 -40px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 80px;
}

.u-section-4 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-text-13 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 79px;
}

.u-section-4 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-text-16 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 23px;
  height: 23px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 23px;
  height: 23px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15.75px));
    min-height: 174px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-4 .u-form-1 {
    width: 410px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 508px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 512px;
    width: 393px;
    margin-top: -532px;
    margin-right: -33px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-4 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2136px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-10 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 484px;
    margin-top: -302px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}body[style*="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"] {
	display: none;
}
